body{

}

.btn-primary:hover{
	background-color: #0f81c7;
	border-color: #0f81c7;
}

.form-control {
	background: rgba(var(--b3f,250,250,250),1);
	border-color: #0f81c7;
}

.btn-circle.btn-sm { 
    width: 30px; 
    height: 30px; 
    padding: 6px 0px; 
    border-radius: 15px; 
    font-size: 8px; 
    text-align: center; 
} 

.btn-circle {
  	width: 40px; 
	height: 40px; 
	padding: 5px 5px; 
	border-radius: 25px; 
	font-size: 8px; 
	text-align: center; 
}

.btn-circle.btn-xl { 
    width: 70px; 
    height: 70px; 
    padding: 10px 16px; 
    border-radius: 35px; 
    font-size: 12px; 
    text-align: center; 
} 

#truncar-texto {
      width: 370px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
}
